:root.theme-light {
  --page-background-image: url(../images/cover-image-light.png);
  --title-shadow: 4px 4px 0 var(--accent-color);
  --header-decor-display: none;
  --footer-text-shadow: text-shadow: var(--title-shadow, 4px 4px 0 var(--accent-color));
  --background-color: #FFF1F7;
  --decors-color: #353430;
  --theme-menu-color: #353430;
  --hover-button-theme-menu: rgba(50, 49, 45, 0.4);
  --title-color: #FFC2E6;
  --title-shadow-color: #FF8DCB;
  --title-decor-bg: #FF8DCB;
  --title-decor-text-color: #353430;
  --main-section-title-color: #353430;
  --article-text-color: #353430;
  --link-shadow-color: #FF8DCB;
  --link-focus-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root:not(.theme-dark) {
    --page-background-image: url(../images/cover-image-light.png);
    --title-shadow: 4px 4px 0 var(--accent-color);
    --header-decor-display: none;
    --footer-text-shadow: text-shadow: var(--title-shadow, 4px 4px 0 var(--accent-color));
    --background-color: #FFF1F7;
    --decors-color: #353430;
    --theme-menu-color: #353430;
    --hover-button-theme-menu: rgba(50, 49, 45, 0.4);
    --title-color: #FFC2E6;
    --title-shadow-color: #FF8DCB;
    --title-decor-bg: #FF8DCB;
    --title-decor-text-color: #353430;
    --main-section-title-color: #353430;
    --article-text-color: #353430;
    --link-shadow-color: #FF8DCB;
    --link-focus-color: #353430;
  }
}
